body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
}

h1 {
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 2;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

input[type="date"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

.priority-low {
    background-color: #d4edda;
}

.priority-medium {
    background-color: #ffeeba;
}

.priority-high {
    background-color: #f8d7da;
}

.edit-button, .delete-button {
    background-color: #ffc107;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
}

.delete-button {
    background-color: #dc3545;
}

.edit-button:hover {
    background-color: #e0a800;
}

.delete-button:hover {
    background-color: #c82333;
}

button#toggle-dark-mode {
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

button#toggle-dark-mode:hover {
    background-color: #218838;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode .container {
    background-color: #444;
}

body.dark-mode input, body.dark-mode select, body.dark-mode button {
    background-color: #555;
    color: #fff;
}

body.dark-mode .delete-button, body.dark-mode .edit-button {
    background-color: #666;
    color: #fff;
}

body.dark-mode .priority-high {
    background-color: #f8d7da;
}

body.dark-mode .priority-medium {
    background-color: #ffeeba;
}

body.dark-mode .priority-low {
    background-color: #d4edda;
}
